<%- include("header") -%>
    <div class="date-container">
      <div class="date">
        <h1 class="calender-text"><%= todayDay %></h1>
      </div>
    </div>
    <div class="list-container">
      <ul class="list-item">
        <% for(i=0;i<todolists.length;i++ ){%>
          <div class="item-container">
            <input type="checkbox" name="checked" class="checkbox">
            <p class="list"><%= todolists[i] %></p>
          </div>
          <% } %>
        </ul>
      </div>
    <div class="todo-container">
      <form action="/" method="post" class="todo">
        <div class="input-container">
          <input
            type="text"
            name="todo"
            class="text-content"
            placeholder="Enter Task"
            autocomplete="off"
          />
          <button type="submit" name="button" value=<%= todayDay%>>+</button>
        </div>
      </form>
    </div>
<%- include("footer")-%>
